* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: black;
  background-image: url("https://i.imgur.com/wsw3HGm.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

a,
a:visited {
  color: inherit;
  text-decoration: none; }

textArea,
input,
textarea:focus,
input:focus {
  outline: none;
  height: 2rem;
  padding: .5rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  border: none; }

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

ul li {
  list-style-type: none; }

.wrapper {
  background-color: #202020;
  height: 95vh;
  width: 95%;
  margin: 3rem auto;
  display: flex;
  -webkit-box-shadow: 0px 9px 12px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 9px 12px -7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 9px 12px -7px rgba(0, 0, 0, 0.5); }
  @media (max-width: 900px) {
    .wrapper {
      margin: 0;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto; } }

.main-content {
  width: 100%;
  color: white;
  padding: 2rem 2.5rem;
  position: relative;
  background-color: #202020; }
  @media (max-width: 900px) {
    .main-content {
      text-align: center; } }

.auth {
  display: flex;
  justify-content: space-around;
  height: 100%; }
  .auth__right {
    min-width: 60rem;
    align-self: center; }
  @media (max-width: 1280px) {
    .auth__left {
      display: none; } }
  .auth__images {
    width: 40rem; }
    .auth__images--1 {
      position: relative;
      top: 20%;
      left: -30%; }
    .auth__images--2 {
      position: absolute;
      top: 40%;
      left: 10%; }

.authform {
  background-color: #141414;
  color: #ebebeb;
  width: 85%;
  height: 50%;
  border-radius: 5px;
  box-shadow: 0px 9px 12px -7px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 900px) {
    .authform {
      position: initial;
      top: 0;
      left: 0;
      transform: none;
      width: 95%;
      margin: 0 auto; } }
  .authform__header {
    padding: 1rem 0;
    margin-bottom: 2rem;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0; }
    .authform__header > span {
      color: black;
      font-size: 3rem;
      text-transform: uppercase; }
  .authform__control {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .authform__control > label {
      margin-bottom: .8rem; }
    .authform__control > input {
      height: 2rem;
      width: 15rem;
      margin-bottom: 1rem; }
  .authform__actions {
    width: 50%;
    margin: 1.7rem 0;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1280px) {
      .authform__actions {
        flex-direction: column; }
        .authform__actions > button {
          margin-bottom: 2rem; } }

.modal {
  color: white;
  background-color: #141414;
  border-radius: 5px;
  position: fixed;
  top: 20vh;
  left: 5%; }
  @media (max-width: 600px) {
    .modal {
      top: 25vh;
      left: 7vh;
      width: 80%; } }
  .modal__header {
    background-image: linear-gradient(to right, #B06AB3, #4568DC);
    color: black;
    height: 4rem;
    font-size: 3rem;
    padding: 1rem 1.5rem;
    border-radius: 5px 5px 0 0; }
  .modal__content {
    background-color: #ebebeb;
    width: 80%;
    margin: 2rem auto;
    padding: 3rem 3.5rem;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 9px 12px -7px rgba(0, 0, 0, 0.5);
    line-height: 2.5rem; }
    .modal__content p {
      border-top: 1px solid #333;
      margin-top: 2rem;
      padding-top: 2rem;
      font-size: 1.4rem; }
    @media (max-width: 600px) {
      .modal__content {
        width: 75%; } }
  .modal__actions {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    justify-content: space-evenly; }

@media (min-width: 768px) {
  .modal {
    width: 60rem;
    left: 50%;
    transform: translateX(-50%); } }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  filter: blur(100px); }

.spinner {
  display: flex;
  justify-content: center;
  align-items: center; }

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ripple div {
  position: absolute;
  border: 4px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0; } }

.main-navigation {
  background-color: #141414;
  color: white;
  width: 18rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 900px) {
    .main-navigation {
      width: 100%; } }
  .main-navigation__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .main-navigation__logo {
    align-self: center;
    margin-bottom: 3rem; }
    .main-navigation__logo h1 {
      text-transform: uppercase;
      letter-spacing: 3px;
      background: linear-gradient(to right, #B06AB3, #4568DC);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text; }
  .main-navigation__items ul li {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 4rem;
    cursor: pointer; }
  .main-navigation__links {
    padding: 1.3rem 1.8rem;
    border: 1px solid #B06AB3;
    color: #B06AB3;
    transition: all .3s ease-out; }
    .main-navigation__links:hover {
      background-color: #B06AB3;
      color: black; }
    @media (max-width: 900px) {
      .main-navigation__links {
        padding: 1.3rem 30rem; } }
  .main-navigation__legal {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.3rem;
    padding-bottom: 2rem; }
    @media (max-width: 900px) {
      .main-navigation__legal {
        display: none; } }

.button {
  font-size: 1.6rem;
  background: #B06AB3;
  min-width: 6.5rem;
  color: white;
  text-align: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border-radius: 2px;
  transition: all .3s ease-out;
  box-shadow: 0px 9px 12px -7px rgba(0, 0, 0, 0.5); }
  .button:hover {
    transform: translateY(-3px); }
  .button:active {
    transform: translateY(0px);
    box-shadow: none; }

.createEvent {
  background-color: #141414;
  max-width: 95.5%;
  margin: 0 auto 2rem auto;
  padding: 2rem 2.5rem;
  border-radius: 5px;
  box-shadow: 0px 9px 12px -7px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.createEventForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .createEventForm__control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; }
    .createEventForm__control label {
      font-size: 1.6rem; }

.events {
  border-radius: 5px;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 9px 12px -7px rgba(0, 0, 0, 0.5);
  background: #141414; }
  .events__header {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    padding: 1.5rem 2rem;
    font-size: 2.2rem;
    letter-spacing: .5rem;
    margin-bottom: 2rem; }
    .events__header h1 {
      font-weight: normal;
      color: black; }
  .events__list {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
    @media (max-width: 937px) {
      .events__list {
        flex-direction: column;
        text-align: center; } }
  .events__item {
    width: 15rem;
    height: 15rem;
    background-color: #ececec;
    padding: 2rem 2.5rem;
    border-radius: 5px;
    color: #111111;
    box-shadow: 0px 9px 12px -7px rgba(0, 0, 0, 0.5);
    margin: 0 2rem 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (max-width: 937px) {
      .events__item {
        width: 90%;
        margin: 1rem auto;
        height: 10rem; } }
    .events__item h1 {
      text-transform: uppercase;
      margin-bottom: 1rem; }
  .events__owner {
    font-size: 1.5rem; }

.bookings {
  background-color: #141414;
  border-radius: 5px;
  box-shadow: 0px 9px 12px -7px rgba(0, 0, 0, 0.5); }
  .bookings__header {
    border-radius: 5px 5px 0 0;
    font-size: 2.2rem;
    padding: 1.5rem 2rem;
    background: linear-gradient(to right, #B06AB3, #4568DC); }
    .bookings__header h1 {
      font-weight: normal;
      color: #141414; }

.bookingsList {
  width: 90%;
  margin: 0 auto;
  padding: 2.5rem 0;
  overflow: scroll; }
  .bookingsList__item {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .bookingsList__item h1 {
      letter-spacing: .2rem;
      padding-bottom: .4rem;
      margin-bottom: 1rem; }
    .bookingsList__item:not(:last-child) {
      margin-bottom: 2rem; }
